<h1>Willkommen!</h1>

<p>Choose a word from below:</p>
<li>grass</li>
<li>spoon</li>
<li>poker</li>

<form action="/cool_url" method="post">
  <input type="text" name="input">
  <input type="submit" value="Enter">
</form>



<!-- <p>URL parameters:</p>
<%= params %> -->